In [8]:
mylist=[1,7,0,9,87,'test',True,0.0087,10+2j]
print(mylist)

[1, 7, 0, 9, 87, 'test', True, 0.0087, (10+2j)]

In [ ]:
mylist.count(0) #Return number of occurrences of value(0 here)

1

In [ ]:
mylist.append(22.22+4j)# add item at last index
print(mylist)

[1, 7, 0, 9, 87, 'test', True, 0.0087, (10+2j), (22.22+4j)]

# NESTED LIST

In [ ]:
mylist.append(['True',98,"Random String"])# list added in main list 
print(mylist)

[1, 7, 0, 9, 87, 'test', True, 0.0087, (10+2j), (22.22+4j), ['True', 98, 'Random String']]

In [12]:
mylist

[1,
 7,
 0,
 9,
 87,
 'test',
 True,
 0.0087,
 (10+2j),
 (22.22+4j),
 ['True', 98, 'Random String']]

In [16]:
print(mylist[10])

['True', 98, 'Random String']

In [ ]:
print(mylist[10][1])# Accessing nested List

98

In [18]:
mylist[-1]

['True', 98, 'Random String']

In [19]:
mylist[-1][1]

98

In [ ]:
mylist[:]# print all items of list

[1,
 7,
 0,
 9,
 87,
 'test',
 True,
 0.0087,
 (10+2j),
 (22.22+4j),
 ['True', 98, 'Random String']]

In [ ]:
mylist[:5]# starts from 0th till 4th index and exclude 5th index

[1, 7, 0, 9, 87]

In [ ]:
mylist[-3:]# starting index 3rd last and print till list ends (here -3,-2 and -1)

[(10+2j), (22.22+4j), ['True', 98, 'Random String']]

In [ ]:
mylist.insert(9)# needs 2 parameter (index and value)

TypeError: insert expected 2 arguments, got 1

In [ ]:
mylist.insert(6,9)# insert 9 in the 6thindex
print(mylist)

[1, 7, 0, 9, 87, 'test', 9, True, 0.0087, (10+2j), (22.22+4j), ['True', 98, 'Random String']]

In [ ]:
mylist.reverse() # it returns none but reverse the original list
print(mylist)

[['True', 98, 'Random String'], (22.22+4j), (10+2j), 0.0087, True, 9, 'test', 87, 9, 0, 7, 1]

In [ ]:
mylist.remove(9) # Remove first occurrence  of value - here 9 will be removed from the list
print(mylist)

[['True', 98, 'Random String'], (22.22+4j), (10+2j), 0.0087, True, 'test', 87, 9, 0, 7, 1]

In [ ]:
poppedItem = mylist.pop() # DEFAULT --> Returns last item from list and remove popped items from main list
print("Popped Item : ",poppedItem)
print("main list",mylist)

Popped Item :  1
main list [['True', 98, 'Random String'], (22.22+4j), (10+2j), 0.0087, True, 'test', 87, 9, 0, 7]

In [ ]:
mylist.insert(10,87.65) # insert value at 10th index
mylist

[['True', 98, 'Random String'],
 (22.22+4j),
 (10+2j),
 0.0087,
 True,
 'test',
 87,
 9,
 0,
 7,
 87.65]

In [45]:
poppedItem = mylist.pop(10)# INDEXED --> Returns 10th indexed item from list and remove popped items from main list
print("Popped Item : ",poppedItem)
print("main list",mylist)

Popped Item :  87.65
main list [['True', 98, 'Random String'], (22.22+4j), (10+2j), 0.0087, True, 'test', 87, 9, 0, 7]

## COPY LIST

In [48]:
copyList = mylist.copy() # returns copy of the main list
print("mylist address Value",id(mylist),"\n List attributes ",mylist)
print("copyList address Value",id(copyList),"\n CopyList attributes ",copyList)

mylist address Value 2185095429568
 List attributes  [['True', 98, 'Random String'], (22.22+4j), (10+2j), 0.0087, True, 'test', 87, 9, 0, 7]
copyList address Value 2185094909696
 CopyList attributes  [['True', 98, 'Random String'], (22.22+4j), (10+2j), 0.0087, True, 'test', 87, 9, 0, 7]

In [59]:
mylist.append(10)
print("mylsit: ",mylist)
print("copylist",copyList)

mylsit:  [['True', 98, 'Random String'], (22.22+4j), (10+2j), 0.0087, True, 'test', 87, 9, 0, 7, 10]
copylist [['True', 98, 'Random String'], (22.22+4j), (10+2j), 0.0087, True, 'test', 87, 9, 0, 7]

### JOIN LISTS ( 
     Using + and extend() function)

In [66]:
list1 = ['one', 'two', 'three', 'four'] 
list2 = ['five', 'six', 'seven','three', 'eight'] 
print(list1 + list2) # returns Joined List
print(list1)
print(list2)
print(list1.extend(list2))# returns none but the first list is extended
print(list1)
print(list2)

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'three', 'eight']
['one', 'two', 'three', 'four']
['five', 'six', 'seven', 'three', 'eight']
None
['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'three', 'eight']
['five', 'six', 'seven', 'three', 'eight']

In [68]:
list2.remove('three')
print(list2)

['five', 'six', 'seven', 'eight']

In [ ]:
list1.clear()# cleares whole list element
print(list1)

[]

In [69]:
del list1
print(list1)

NameError: name 'list1' is not defined

### LIST Membership`

In [70]:
mylist

[['True', 98, 'Random String'],
 (22.22+4j),
 (10+2j),
 0.0087,
 True,
 'test',
 87,
 9,
 0,
 7,
 10]

In [ ]:
10+2j in mylist # check if element is present in list

True

In [ ]:
98 in mylist # Not applicable for items in nested list

False

In [ ]:
98 in mylist[0] #nested items can also be searched with in

True

In [ ]:
['True', 98, 'Random String'] in mylist # nested list is also exists

True

In [77]:
1000 in mylist

False

In [ ]:
print(mylist)

# ANOTHER WAY TO REVERSE THE LIST BY USING SLICING 

print(mylist[::-1])

[['True', 98, 'Random String'], (22.22+4j), (10+2j), 0.0087, True, 'test', 87, 9, 0, 7, 10]
[10, 7, 0, 9, 87, 'test', True, 0.0087, (10+2j), (22.22+4j), ['True', 98, 'Random String']]

##  SORT LIST

In [ ]:
mylist3 = [9,5,2,99,12,88,34] 
print("Sort returns : ",mylist3.sort())# returns none butsort the original list
print("mylist3 value" , mylist3 )

Sort returns :  None
mylist3 value [2, 5, 9, 12, 34, 88, 99]

In [87]:
mylist3 = [9,5,2,99,12,88,34] 
mylist3.sort(reverse=True) # Sort list in descending order 
mylist3

[99, 88, 34, 12, 9, 5, 2]

In [ ]:
print(mylist.sort()) # NOT ABLE TO SORT THE COMPLEX LIST

TypeError: '<' not supported between instances of 'complex' and 'list'

### LOOP THROUGH LIST

In [90]:
print(mylist)
print(mylist3)

[['True', 98, 'Random String'], (22.22+4j), (10+2j), 0.0087, True, 'test', 87, 9, 0, 7, 10]
[99, 88, 34, 12, 9, 5, 2]

In [94]:
for i in mylist:
    print(i)

['True', 98, 'Random String']
(22.22+4j)
(10+2j)
0.0087
True
test
87
9
0
7
10

In [98]:
for i in enumerate(mylist):# Enumerate to return indexed list
    print(i,type(i))# retuns tuple

(0, ['True', 98, 'Random String']) <class 'tuple'>
(1, (22.22+4j)) <class 'tuple'>
(2, (10+2j)) <class 'tuple'>
(3, 0.0087) <class 'tuple'>
(4, True) <class 'tuple'>
(5, 'test') <class 'tuple'>
(6, 87) <class 'tuple'>
(7, 9) <class 'tuple'>
(8, 0) <class 'tuple'>
(9, 7) <class 'tuple'>
(10, 10) <class 'tuple'>

####    ALL or ANY  
> The __`all()`__ method returns: 
>> _True_ - If all elements in a list are true <br>
> _False_ - If any element in a list is false <br>

> The __`any()`__ function returns True if any element in the list is True. If not, any() returns False.

## IN PYTHON ANY NON ZERO Value is TRUE

In [101]:
print (mylist)
print(any(mylist))# Will Return True as we have items in the list with 0 value

[['True', 98, 'Random String'], (22.22+4j), (10+2j), 0.0087, True, 'test', 87, 9, 0, 7, 10]
True

In [100]:
print(all(mylist))

False

In [ ]:
print (mylist)
mylist.remove(0) # ONCE we REMOVE 0 then all other values are NON ZERO then it means all TRUE
print(all(mylist))# now all() method will return True

[['True', 98, 'Random String'], (22.22+4j), (10+2j), 0.0087, True, 'test', 87, 9, 0, 7, 10]
True