### Sets

1) Unordered & Unindexed collection of items. 
2) Set elements are unique. Duplicate elements are not allowed. 
3) Set elements are immutable (cannot be changed). 
4) Set itself is mutable. We can add or remove items from it.

__Set Creation__

In [1]:
myset = {11,22,31,40,5} # Set of numbers 
myset

{5, 11, 22, 31, 40}

In [2]:
len(myset)

5

In [4]:
myset.add('rest')
myset

{11, 22, 31, 40, 5, 'rest'}

In [ ]:
myset.add(11) # Duplicates are not allowed
myset

{11, 22, 31, 40, 5, 'rest'}

In [6]:
mixedset = {10,20, "Hola", [11, 22, 32]} # set doesn't allow mutable items like list

TypeError: unhashable type: 'list'

In [9]:
print(type(myset))

<class 'set'>

Add and Remove items

In [ ]:
myset.add('Nine')# Add items using add() method
myset

{11, 22, 31, 40, 5, 'Nine', 'rest'}

In [23]:
myset.update({12,17,44})
myset

{11, 12, 17, 22, 31, 40, 44, 5, 'Nine', 'rest'}

Update method accepts iterable objects only (int, float and boolean are not accepted)
- If you pass String then it will implicitly add each character in the set <br>
- Generally we should use list, set, and other iterable

In [24]:
myset.update(122)

TypeError: 'int' object is not iterable

In [25]:
myset.update(True)

TypeError: 'bool' object is not iterable

In [26]:
myset.update(['TEN' , 'ELEVEN' , 'TWELVE']) 
myset

{11, 12, 17, 22, 31, 40, 44, 5, 'ELEVEN', 'Nine', 'TEN', 'TWELVE', 'rest'}

In [27]:
myset.remove('Nine')
myset

{11, 12, 17, 22, 31, 40, 44, 5, 'ELEVEN', 'TEN', 'TWELVE', 'rest'}

In [31]:
copyset = myset.copy()
print("Id of set : ",id(myset))
print("Id of Copyset : ",id(copyset))

Id of set :  1914011139680
Id of Copyset :  1914027548608

UNION

In [32]:
A = {1,2,3,4,5} 
B = {4,5,6,7,8} 
C = {8,9,10}

In [ ]:
A | B # union of A with B (No Duplicates)

{1, 2, 3, 4, 5, 6, 7, 8}

In [34]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [35]:
A.union(B).union(C)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [36]:
A.union(B,C)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [38]:
A.update(B,C)
A

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

INTERSECTION

In [ ]:
A & B  # Intersection of A and B (Common items in both sets)

{4, 5, 6, 7, 8}

In [41]:
A.intersection(B) #Intersection of A and B

{4, 5, 6, 7, 8}

In [42]:
""" 
Updates the set calling the intersection_update() method with the intersection
For below example Set A will be updated with the intersection of A & B. 
""" 
A.intersection_update(B) 
A

{4, 5, 6, 7, 8}

DIFFERENCE

In [ ]:
A = {1,2,3,4,5} 
A-B ## set of elements that are only in A but not in B

{1, 2, 3}

In [49]:
A.difference(B)

{1, 2, 3}

In [50]:
B-A

{6, 7, 8}

In [51]:
""" 
Updates the set calling the difference_update() method with the difference of se 
For below example Set B will be updated with the difference of B & A. 
""" 
B.difference_update(A) 
B

{6, 7, 8}

Symmetric Difference

In [ ]:
A = {1,2,3,4,5} 
B = {4,5,6,7,8} 
A^B ## Symmetric difference (Set of elements in A and B but not in both)

{1, 2, 3, 6, 7, 8}

In [53]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [54]:

""" 
Updates the set calling the symmetric_difference_update() method with the symmet 
For below example Set A will be updated with the symmetric difference of A & B. 
""" 
A.symmetric_difference_update(B) 
A

{1, 2, 3, 6, 7, 8}

Subset,SuperSet and disjoint

In [55]:
A = {1,2,3,4,5,6,7,8,9} 
B = {3,4,5,6,7,8} 
C = {10,20,30,40}

In [56]:
B.issubset(A) # Set B is said to be the subset of set A if all elements of B are present in A

True

In [57]:
A.issuperset(B) # Set A is said to be the superset of set B if all elements of B are present in A

True

In [58]:
C.isdisjoint(A) # Two sets are said to be disjoint sets if they have no common elements

True

In [59]:
B.isdisjoint(A) # Two sets are said to be disjoint sets if they have no common element

False

MORE BUILTIN FUNCTION

In [60]:
A

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [62]:
sum(A)

45

In [63]:
max(A)

9

In [64]:
min(A)

1

In [65]:
len(A)

9

In [66]:
list(enumerate(A))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)]

In [67]:
list((A))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [69]:
D= sorted(A, reverse=True)
D

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [70]:
sorted(D)

[1, 2, 3, 4, 5, 6, 7, 8, 9]