>#####  TUPLE
- immutable ( unchangeable)
- duplication is allowed
- remove is not allowed
- only 2 function will work (.index, .count)

In [ ]:
tup=() # Create Empty Tuple
type(tup)

tuple

In [4]:
intTup=(24,56,32,0,19) # tuple of integers numbers
print(intTup)

(24, 56, 32, 0, 19)

In [5]:
floatTuple= (23.21,11.09,00.08,99.99) # Tuple of float Numbers
print(floatTuple)

(23.21, 11.09, 0.08, 99.99)

In [ ]:
strTuple = ('one',"Thirteen",'''ten''')# Tuple of Strings
print(strTuple)

('one', 'Thirteen', 'ten')

In [8]:
mixTuple = ('Amir',234,89.09,134+34J,True,[12,100],[True,23.76,'John'],(1,7,5)) # Tuple of mIxed data types
print(mixTuple)

('Amir', 234, 89.09, (134+34j), True, [12, 100], [True, 23.76, 'John'], (1, 7, 5))

In [9]:
print(len(mixTuple))

8

### TUPLE INDEXING

In [12]:
print(intTup)
intTup[2]

(24, 56, 32, 0, 19)

32

In [13]:
print(mixTuple[6][1])

23.76

In [14]:
print(mixTuple[-1])

(1, 7, 5)

### Tuple Slicing

In [15]:
mixTuple[0:3]

('Amir', 234, 89.09)

In [16]:
mixTuple[2:5]

(89.09, (134+34j), True)

In [17]:
mixTuple[:3]

('Amir', 234, 89.09)

In [18]:
mixTuple[-4:]

(True, [12, 100], [True, 23.76, 'John'], (1, 7, 5))

Tuple Remove and change elements

In [19]:
print(intTup)

(24, 56, 32, 0, 19)

In [21]:
del(intTup)
print(intTup)

NameError: name 'intTup' is not defined

In [ ]:
mixTuple[0]=9889 # Tuple are immutable changing elements not allowed

TypeError: 'tuple' object does not support item assignment

Loop Through Tuple

In [23]:
mixTuple

('Amir',
 234,
 89.09,
 (134+34j),
 True,
 [12, 100],
 [True, 23.76, 'John'],
 (1, 7, 5))

In [24]:
for i in mixTuple:
    print(i)

Amir
234
89.09
(134+34j)
True
[12, 100]
[True, 23.76, 'John']
(1, 7, 5)

In [26]:
for i in enumerate(mixTuple):
    print(i)

(0, 'Amir')
(1, 234)
(2, 89.09)
(3, (134+34j))
(4, True)
(5, [12, 100])
(6, [True, 23.76, 'John'])
(7, (1, 7, 5))

Membership

In [27]:
mixTuple

('Amir',
 234,
 89.09,
 (134+34j),
 True,
 [12, 100],
 [True, 23.76, 'John'],
 (1, 7, 5))

In [28]:
234 in mixTuple

True

In [30]:
0 in mixTuple

False

In [31]:
if False in mixTuple:
    print("False is present in tuple")
else:
    print("False is not present in tuple")

False is not present in tuple

Index and Sorting

In [34]:
mixTuple

('Amir',
 234,
 89.09,
 (134+34j),
 True,
 [12, 100],
 [True, 23.76, 'John'],
 (1, 7, 5))

In [37]:
mixTuple.index(89.09)

2

In [39]:
print(sorted(floatTuple))

[0.08, 11.09, 23.21, 99.99]

In [40]:
print(sorted(floatTuple, reverse=True))

[99.99, 23.21, 11.09, 0.08]